.Jobs-main-cont{
    width: 100%;
    min-height: 100%;
    background-color: black;
}
.filter-all-jobs-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.filter-sec{
    width: 30%;
    height: 100vh;
    border: 1px solid white;
}
.Jobs-sec{
    width: 60%;
    height: 100vh;
    border: 1px solid rgb(216, 199, 199);
}