.jobs-card-cont{
    list-style: none;
    margin-top: 20px;
    color: white;
    
}
.jobs-card{
    width: 90%;
    background-color: rgb(65, 59, 59);
    padding: 15px;
    border-radius: 10px;
}
.icon-title-rating-cont{
    display: flex;
    color: white;
}
.jobs-icon{
    width: 65px;
    height: 65px;
    margin-right: 10px;
}
.jobs-title{
    font-size: 23px;
}
.rating-icon{
    color: yellow;
    margin-right: 8px;
}
.location-emp-pakage-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.emp-pakage-text{
    margin-left: 5px;
    margin-right: 10px;
}
.pakage{
    font-size: 20px;
}